@layout EditorLayout
@page "/editeur/couleurs"

<RedirectToSelectRace />
<PageTitle>Couleurs</PageTitle>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Couleur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Colors is null)
            {
                <tr>
                    <td colspan=2 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Colors.Any())
            {
                <tr class="p-2">
                    <td colspan=2 class="text-center">Aucune couleur</td>
                </tr>
            }
            else
            {
                @foreach (var color in Colors)
                {
                    <tr @key="@color.Id">
                        <td>
                            <div class="p-1" style="background-color:@color.Code">
                                <span>&nbsp;</span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" @onclick="() => ConfirmEditColor(color)"><span class="oi oi-pencil"></span></button>
                            <button class="btn btn-danger btn-sm" @onclick="() => ConfirmDeleteColor(color)"><span class="oi oi-trash"></span></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <EditForm class="row" Model="@addColor" OnValidSubmit="@AddColor">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-auto">
            <input class="form-control form-control-color" type="color" name="name" @bind-value="@addColor.Code" />
        </div>
        <div class="col-auto d-flex align-items-end">
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </div>
    </EditForm>
</div>


<ConfirmDialog @ref="DeleteDialog"
               Title="Supprimer la couleur"
               ConfirmationChanged="(confirm) => RemoveColor(confirm)">
</ConfirmDialog>

<EditDialog @ref="EditDialog"
            Title="Editer la couleur"
            ConfirmationChanged="(confirm) => UpdateColor(confirm)">
    <div class="d-flex">
        <div class="col-auto">
            <input class="form-control form-control-color" type="color" name="name" @bind-value="@updateColor.Code" />
        </div>
    </div>
</EditDialog>
