@page "/editeur/courses"

<PageTitle>Courses</PageTitle>

@if (AppState.Race is not null)
{
    <h2>@AppState.Race.Name</h2>
    <p>@AppState.Race.Date.ToLongDateString()</p>
    <button class="btn btn-primary" @onclick="ClearSelectedRace">Changer de course...</button>
}
else
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Races is null)
                {
                    <tr>
                        <td colspan=3 class="text-center">
                            <div class="spinner-border" role="status" />
                        </td>
                    </tr>
                }
                else if (!Races.Any())
                {
                    <tr class="p-2">
                        <td colspan=3 class="text-center">Aucune course</td>
                    </tr>
                }
                else
                {
                    @foreach (var race in Races)
                    {
                        <tr @key="@race">
                            <td>@race.Name</td>
                            <td>@race.Date.ToLongDateString()</td>
                            <td>
                                <button class="btn btn-primary btn-sm" @onclick="() => SelectRace(race)"><span class="oi oi-share"></span></button>
                                <button class="btn btn-secondary btn-sm" @onclick="() => ConfirmEditRace(race)"><span class="oi oi-pencil"></span></button>
                                <button class="btn btn-danger btn-sm" @onclick="() => ConfirmDeleteRace(race)"><span class="oi oi-trash"></span></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        <EditForm Model="@addRace" OnValidSubmit="@AddRace" class="d-flex">
            <div class="p-2">
                <label for="race-name" class="form-label">Nom</label>
                <input id="race-name" class="form-control" type="text" @bind-value="@addRace.Name" placeholder="Nom de la course" />
            </div>
            <div class="p-2">
                <label for="race-date" class="form-label">Date</label>
                <input id="race-date" class="form-control" type="date" @bind-value="@addRace.Date" />
            </div>
            <div class="p-2 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
        </EditForm>
    </div>
}

<ConfirmDialog @ref="DeleteDialog"
               ConfirmationTitle="Supprimer la course"
               ConfirmationChanged="(confirm) => DeleteRace(confirm)">
</ConfirmDialog>

<EditDialog @ref="EditDialog"
            ConfirmationTitle="Editer la course"
            ConfirmationChanged="(confirm) => UpdateRace(confirm)">
    <div class="d-flex flex-column">
        <div class="p-2">
            <label for="race-name" class="form-label">Nom</label>
            <input id="race-name" class="form-control" type="text" @bind-value="@updateRace.Name" placeholder="Nom de la course" />
        </div>
        <div class="p-2">
            <label for="race-date" class="form-label">Date</label>
            <input id="race-date" class="form-control" type="date" @bind-value="@updateRace.Date" />
        </div>
    </div>
</EditDialog>



