@attribute [AuthorizeRoles(UserRoles.Admin)]
@layout EditorLayout
@page "/editeur/courses"

<PageTitle>Courses</PageTitle>

@if (SelectedRace is not null)
{
    <div class="d-flex flex-column">
        <div>
            <h2>@SelectedRace.Name</h2>
            <p>@SelectedRace.Date.ToLongDateString()</p>
        </div>

        <div class="d-flex flex-column flex-sm-row">
            <div>
                <div class="p-2">
                    <button class="btn btn-primary" @onclick="ClearSelectedRace">Changer de course...</button>
                </div>
                <div class="p-2">
                    @if (SelectedRace.IsEnded)
                    {
                        <button class="btn btn-success" @onclick="() => EndRace(false)">Ouvrir la course</button>
                    }
                    else
                    {
                        <button class="btn btn-warning" @onclick="() => EndRace(true)">Terminer la course</button>
                    }
                </div>
            </div>
            <div class="p-2">
                <button class="btn btn-danger" @onclick="ConfirmResetRace">Réinitialiser la course</button>
            </div>
        </div>
        <div class="mt-4">
            <h3>Exporter</h3>
            <div class="d-flex flex-column">
                <div class="p-2">
                    <a class="btn btn-primary" href="@DownloadCategoriesFileUrl" download target="=_top"><span class="fas fa-download"></span> Equipes par catégorie de bonus</a>
                </div>
                <div class="p-2">
                    <a class="btn btn-primary" href="@DownloadColorsFileUrl" download target="=_top"><span class="fas fa-download"></span> Equipes et parcours par couleur</a>
                </div>
                <div class="p-2">
                    <a class="btn btn-primary" href="@DownloadCategoriesByColorFileUrl" download target="=_top"><span class="fas fa-download"></span> Equipes et bonus par couleur</a>
                </div>
            </div>

        </div>
    </div>
}
else
{
    <h1>Editer les courses</h1>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Races is null)
                {
                    <tr>
                        <td colspan=3 class="text-center">
                            <div class="spinner-border" role="status" />
                        </td>
                    </tr>
                }
                else if (!Races.Any())
                {
                    <tr class="p-2">
                        <td colspan=3 class="text-center">Aucune course</td>
                    </tr>
                }
                else
                {
                    @foreach (var race in Races)
                    {
                        <tr @key="@race">
                            <td>@race.Name</td>
                            <td>@race.Date.ToLongDateString()</td>
                            <td>
                                <button class="btn btn-primary btn-sm" @onclick="() => SelectRace(race)"><span class="fas fa-eye"></span></button>
                                <button class="btn btn-secondary btn-sm" @onclick="() => ConfirmEditRace(race)"><span class="fas fa-pencil"></span></button>
                                <button class="btn btn-danger btn-sm" @onclick="() => ConfirmDeleteRace(race)"><span class="fas fa-trash"></span></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div>
        <EditForm Model="@addRace" OnValidSubmit="@AddRace" class="d-flex flex-column flex-lg-row">
            <div class="p-2">
                <label for="race-name" class="form-label">Nom</label>
                <input id="race-name" class="form-control" type="text" @bind-value="@addRace.Name" placeholder="Nom de la course" />
            </div>
            <div class="p-2">
                <label for="race-date" class="form-label">Date</label>
                <input id="race-date" class="form-control" type="date" @bind-value="@addRace.Date" />
            </div>
            <div class="p-2 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
        </EditForm>
    </div>
}

<ConfirmDialog @ref="DeleteDialog"
               Title="Supprimer la course"
               ConfirmationChanged="(confirm) => DeleteRace(confirm)" />

<ConfirmDialog @ref="ResetDialog"
               Title="Réinitialiser la course"
               ConfirmationChanged="(confirm) => ResetRace(confirm)" />

<EditDialog @ref="EditDialog"
            Title="Editer la course"
            ConfirmationChanged="(confirm) => UpdateRace(confirm)">
    <div class="d-flex flex-column">
        <div class="p-2">
            <label for="race-name" class="form-label">Nom</label>
            <input id="race-name" class="form-control" type="text" @bind-value="@updateRace.Name" placeholder="Nom de la course" />
        </div>
        <div class="p-2">
            <label for="race-date" class="form-label">Date</label>
            <input id="race-date" class="form-control" type="date" @bind-value="@updateRace.Date" />
        </div>
    </div>
</EditDialog>



