@attribute [AuthorizeRoles(UserRoles.Admin)]
@layout EditorLayout
@page "/editeur/categories"

<PageTitle>Catégories de bonus</PageTitle>
<h1>Editer les catégories de bonus</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Categories is null)
            {
                <tr>
                    <td colspan=2 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Categories.Any())
            {
                <tr class="p-2">
                    <td colspan=2 class="text-center">Aucune catégorie de bonus</td>
                </tr>
            }
            else
            {
                @foreach (var category in Categories)
                {
                    <tr @key="@category.Id">
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>
                            <a class="btn btn-secondary btn-sm" @onclick="() => EditTrack(category)"><span class="fas fa-pencil"></span></a>
                            <a class="btn btn-danger btn-sm" @onclick="() => DeleteTrack(category)"><span class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <EditForm Model="@addCategory" OnValidSubmit="@AddTrack" class="d-flex">
        <div class="p-2">
            <label for="category-name" class="form-label">Nom</label>
            <input id="category-name" class="form-control" type="text" @bind-value="@addCategory.Name" placeholder="Nom de la catégorie" />
        </div>
        <div class="p-2 col-4">
            <label for="category-description" class="form-label">Description</label>
            <input id="category-description" class="form-control" type="text" @bind-value="@addCategory.Description" placeholder="Description" />
        </div>
        <div class="p-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </EditForm>
</div>

<ConfirmDialog @ref="DeleteDialog"
               Title="Supprimer la catégorie"
               ConfirmationChanged="(confirm) => ConfirmDeleteTrack(confirm)">
</ConfirmDialog>

<EditDialog @ref="EditDialog"
            Title="Editer la catégorie"
            ConfirmationChanged="(confirm) => ConfirmEditTrack(confirm)">
    <div class="d-flex flex-column">
        <div class="p-2">
            <label for="category-name" class="form-label">Nom</label>
            <input id="category-name" class="form-control" type="text" @bind-value="@updateCategory.Name" placeholder="Nom de la catégorie" />
        </div>
        <div class="p-2">
            <label for="category-description" class="form-label">Description</label>
            <input id="category-description" class="form-control" type="text" @bind-value="@updateCategory.Description" placeholder="Description" />
        </div>
    </div>
</EditDialog>