@layout EditorLayout
@page "/editeur/parcours"

<RedirectToSelectRace />
<PageTitle>Parcours</PageTitle>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Tracks is null)
            {
                <tr>
                    <td colspan=3 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Tracks.Any())
            {
                <tr class="p-2">
                    <td colspan=3 class="text-center">Aucun parcours</td>
                </tr>
            }
            else
            {
                @foreach (var track in Tracks)
                {
                    <tr @key="@track.Id">
                        <td>@track.Name</td>
                        <td>
                            <a class="btn btn-secondary btn-sm" @onclick="() => ConfirmEditTrack(track)"><span class="oi oi-pencil"></span></a>
                            <a class="btn btn-danger btn-sm" @onclick="() => ConfirmDeleteTrack(track)"><span class="oi oi-trash"></span></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <EditForm Model="@addTrack" OnValidSubmit="@AddTrack" class="d-flex">
        <div class="p-2">
            <label for="race-name" class="form-label">Nom</label>
            <input id="race-name" class="form-control" type="text" @bind-value="@addTrack.Name" placeholder="Nom du parcours" />
        </div>
        <div class="p-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </EditForm>
</div>

<ConfirmDialog @ref="DeleteDialog"
               Title="Supprimer le parcours"
               ConfirmationChanged="(confirm) => RemoveTrack(confirm)">
</ConfirmDialog>

<EditDialog @ref="EditDialog"
            Title="Editer le parcours"
            ConfirmationChanged="(confirm) => UpdateTrack(confirm)">
    <div class="d-flex">
        <div class="p-2 flex-fill">
            <label for="race-name" class="form-label">Nom</label>
            <input id="race-name" class="form-control" type="text" @bind-value="@updateTrack.Name" placeholder="Nom du parcours" />
        </div>
    </div>
</EditDialog>