@attribute [AuthorizeRoles(UserRoles.Admin)]
@page "/editeur"
@page "/editeur/utilisateurs"
@layout EditorLayout

<h1>Editer les utilisateurs</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Users is null)
            {
                <tr>
                    <td colspan=5 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Users.Any())
            {
                <tr class="p-2">
                    <td colspan=5 class="text-center">Aucun utilisateur</td>
                </tr>
            }
            else
            {
                @foreach (var user in Users)
                {
                    <tr @key="@user">
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserName</td>
                        <td><span class="fas fa-@(user.IsAdmin? "check text-success":"xmark text-danger")"></span></td>
                        <td>
                            <button class="btn btn-secondary btn-sm" @onclick="() => EditUser(user)"><span class="fas fa-pencil"></span></button>
                            <button class="btn btn-warning btn-sm" @onclick="() => EditPassword(user.Id)"><span class="fas fa-key"></span></button>
                            <button class="btn btn-danger btn-sm" @onclick="() => DeleteUser(user)"><span class="fas fa-trash"></span></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<EditForm Model="@AddUserModel" OnValidSubmit="@AddUser">
    <div class="justify-content-start">
        <div class="row col-xl-8">
            <div class="p-2 col-12 col-md-6">
                <label for="firstname" class="form-label">Prénom</label>
                <input id="firstname" class="form-control" type="text" @bind-value="@AddUserModel.FirstName" />
            </div>
            <div class="p-2 col-12 col-md-6">
                <label for="lastname" class="form-label">Nom</label>
                <input id="lastname" class="form-control" type="text" @bind-value="@AddUserModel.LastName" />
            </div>
            <div class="p-2 col-12 col-md-6">
                <label for="username" class="form-label">Pseudo</label>
                <input id="username" class="form-control" type="text" @bind-value="@AddUserModel.UserName" />
            </div>
            <div class="p-2 col-12 col-md-6">
                <label for="password" class="form-label">Mot de passe</label>
                <input id="password" class="form-control" type="password" @bind-value="@AddUserModel.Password" />
            </div>
            <div class="py-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" @bind-value="@AddUserModel.IsAdmin" id="add-isadmin" checked="@AddUserModel.IsAdmin">
                    <label class="form-check-label" for="add-isadmin">Est administrateur</label>
                </div>
            </div>
            <div class="p-2 col-12 col-md-6">
                <button class="btn btn-primary" type="submit">Créer l'utilisateur</button>
            </div>
        </div>
    </div>
</EditForm>

<ConfirmDialog @ref="DeleteDialog"
               Title="Supprimer l'utilisateur"
               ConfirmationChanged="(confirm) => ConfirmDeleteUser(confirm)" />
<EditDialog @ref="EditDialog"
            Title="Editer l'utilisateur"
            ConfirmationChanged="(confirm) => ConfirmEditUser(confirm)">
    <div class="d-flex flex-column">
        <div class="p-2">
            <label for="firstname" class="form-label">Prénom</label>
            <input type="text" id="firstname" class="form-control" @bind-value="@UpdateUserModel.FirstName" placeholder="Prénom" required>
        </div>
        <div class="p-2">
            <label for="lastname" class="form-label">Nom</label>
            <input type="text" id="lastname" class="form-control" @bind-value="@UpdateUserModel.LastName" placeholder="Nom" required>
        </div>
        <div class="p-2">
            <label for="username" class="form-label">Pseudo</label>
            <input type="text" id="username" class="form-control" @bind-value="@UpdateUserModel.UserName" placeholder="Pseudo" required>
        </div>
        <div class="form-check p-2 ms-4">
            <input class="form-check-input" type="checkbox" @bind-value="@UpdateUserModel.IsAdmin" id="update-isadmin" checked="@UpdateUserModel.IsAdmin">
            <label class="form-check-label" for="update-isadmin">Est administrateur</label>
        </div>
    </div>
</EditDialog>

<EditDialog @ref="EditPasswordDialog"
            Title="Modifier le mot de passe"
            ConfirmationChanged="(confirm) => ConfirmEditPassword(confirm)">
    <div class="p-2">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" id="password" class="form-control" @bind="@NewPassword" placeholder="Mot de passe" required>
    </div>
</EditDialog>

