@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@page "/resultats/fin"
@layout UserLayout

<div class="text-center">
    <TeamTypeFilterRadios IsInline=true
                          SelectedFilter=TeamTypeFilter
                          OnFilterChanged=OnTeamTypeFilterChanged />
</div>
<div>
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th scope=col class="fit">#</th>
                <th scope="col">Equipe</th>
                <th class="d-none d-sm-table-cell" scope="col">Parcours</th>
                <th class="d-none d-sm-table-cell" scope="col">Bonus</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Results is null)
            {
                <tr>
                    <td colspan=5 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Results.Any())
            {
                <tr class="p-2">
                    <td colspan=5 class="text-center">Aucun résultat à afficher</td>
                </tr>
            }
            else
            {
                @foreach (var result in Results)
                {
                    var index = Results.IndexOf(result) + 1;
                    <tr @key="@result">
                        <th class="pe-3">@index<sup>@(HtmlHelper.GetRankSup(index))</sup></th>
                        <td>
                            <div class="d-flex gap-2 align-items-center">
                                <div class="team-color" style="border-color:@result.Team.Color.Code">
                                    <span class="@HtmlHelper.GetFaIcon(result.Team.Type)"></span>
                                </div>
                                <div>@result.Team.Name</div>
                            </div>
                        </td>
                        <td class="d-none d-sm-table-cell">@result.TracksTotalDuration.ToTimeString()</td>
                        <td class="d-none d-sm-table-cell">@result.TimeAdjustmentsTotalDuration.ToTimeString()</td>
                        <td>@result.TotalDuration.ToTimeString()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>