@page "/resultats/parcours"
@using FunTrophy.Shared.Model
@using FunTrophy.Web.Helpers

<RedirectToSelectRace />
<PageTitle>Résultats par parcours</PageTitle>

<div class="d-flex flex-row">
    <div class="d-flex m-auto">
        <div class="p-2">
            <button class="btn" @onclick="() => ChangeTrack(-1)"><i class="fas fa-chevron-left"></i></button>
        </div>

        <div class="p-2">
            <select class="form-select" value="@SelectedTrackId" @onchange="OnSelectedTrackChanged">
                @if (Tracks is null)
                {
                    <option>Chargement...</option>
                }
                else
                {
                    @foreach (var track in Tracks)
                    {
                        <option value="@track.Id" @key="@track">@track.Name</option>
                    }
                }
            </select>
        </div>
        <div class="p-2">
            <button class="btn" @onclick="() => ChangeTrack(1)"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
    <div class="float-end">
        <button class="btn btn-lg fas fa-sliders" @onclick="ShowSettingsDialog"></button>
    </div>
</div>

<div>
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th scope=col>#</th>
                <th scope="col">Equipe</th>
                <th scope="col">Temps</th>
            </tr>
        </thead>
        <tbody>
            @if (Results is null)
            {
                <tr>
                    <td colspan=3 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Results.Any())
            {
                <tr class="p-2">
                    <td colspan=3 class="text-center">Aucun résultat à afficher</td>
                </tr>
            }
            else
            {
                @foreach (var result in Results)
                {
                    <tr @key="@result">
                        <td>@(Results.IndexOf(result) + 1)</td>
                        <td>
                            <div class="d-flex gap-2">
                                <div class="team-color" style="border-color:@result.Team.Color.Code">
                                    <span class="fas fa-@(result.Team.Type == TeamType.Family? "paw" : "shield-halved")"></span>
                                </div>
                                <div>@result.Team.Name</div>
                            </div>
                        </td>
                        <td>@(result.LapDuration.HasValue ? result.LapDuration.Value.ToMinutesAndSecondsString(): "En cours...")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<EditDialog @ref="SettingsDialog"
            Title="Paramètres"
            OkButtonText="Fermer"
            ShowCancelButton="false">
    <div class="d-flex flex-column">
        @foreach (var value in TeamTypeFilter)
        {
            <div class="form-check">
                <label class="form-check-label" for="team-type-@value">@value.Value</label>
                <input class="form-check-input" id="team-type-@value" type="checkbox" value="@value.IsChecked" checked="@value.IsChecked" @onchange="(isChecked) => OnTeamTypeFilterChanged(isChecked, value)">
            </div>
        }
    </div>
</EditDialog>