@page "/resultats/equipe"
@using FunTrophy.Web.Helpers

<RedirectToSelectRace />
<PageTitle>Résultats par équipe</PageTitle>

<div class="d-flex justify-content-center">
    <div class="d-flex">
        <div class="p-2">
            <select class="form-select" value="@SelectedTeamId" @onchange="OnSelectedTeamChanged">
                @if (Teams is null)
                {
                    <option>Chargement...</option>
                }
                else
                {
                    @foreach (var team in Teams)
                    {
                        <option value="@team.Id" @key="@team">@team.Name</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<div>
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th scope=col>#</th>
                <th scope="col">Parcours</th>
                <th scope="col">Temps</th>
            </tr>
        </thead>
        <tbody>
            @if (Results is null)
            {
                <tr>
                    <td colspan=3 class="text-center">
                        <div class="spinner-border" role="status" />
                    </td>
                </tr>
            }
            else if (!Results.Any())
            {
                <tr class="p-2">
                    <td colspan=3 class="text-center">Aucun résultat à afficher</td>
                </tr>
            }
            else
            {
                @foreach (var result in Results)
                {
                    <tr @key="@result">
                        <td>@(Results.IndexOf(result) + 1)</td>
                        <td>@result.Track.Name</td>
                        <td>@(result.LapDuration.HasValue ? result.LapDuration.Value.ToMinutesAndSecondsString(): "En cours...")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>